table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px 10px;
}
.cell_month_name{
    grid-column: 1 / -1;
}
/* .sunday:nth-child(7n+1){
    background-image: linear-gradient(150deg, #ffbea8 11.54%, #ffffff 11.54%, #ffffff 50%, #ffbea8 50%, #ffbea8 61.54%, #ffffff 61.54%, #ffffff 100%);
background-size: 65.00px 37.53px;
} */
.sunday{
    background-image: linear-gradient(150deg, #ffbea8 11.54%, transparent 11.54%, transparent 50%, #ffbea8 50%, #ffbea8 61.54%, transparent 61.54%, transparent 100%);
background-size: 65.00px 37.53px;
}